{
    "openapi": "3.0.3",
    "info": { "title": "Edge API", "version": "1" },
    "servers": [
        {
            "url": "https://edge.api.flagsmith.com/api/v1/",
            "description": "Edge API"
        }
    ],
    "paths": {
        "/flags": {
            "get": {
                "tags": [],
                "summary": "Get flags",
                "description": "USING THIS ENDPOINT WITH AN IDENTIFIER IS DEPRECATED.\n\n Please use `/identities/?identifier=<identifier>` instead. \n\n Note that when providing the `feature` query argument, this endpoint will return either a single object or a 404 (if the feature does not exist) rather than a list.",
                "parameters": [
                    {
                        "name": "Feature",
                        "in": "header",
                        "description": "Name of the feature to get the state of",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Flag"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/identities": {
            "get": {
                "tags": [],
                "summary": "Get identities",
                "description": " ",
                "parameters": [
                    {
                        "name": "Feature",
                        "in": "header",
                        "description": "Name of the feature to get the state of",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Identities"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [],
                "summary": "Post identities",
                "description": " ",
                "parameters": [
                    {
                        "name": "Identifier",
                        "in": "header",
                        "description": "Name of the feature to get the state of",
                        "required": true
                    },
                    {
                        "name": "Trait Key",
                        "in": "header",
                        "description": "",
                        "required": true
                    },
                    {
                        "name": "Trait Value",
                        "in": "header",
                        "description": "",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Identities"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "EnvironmentKeyAuth": { "type": "apiKey", "in": "header", "name": "X-Environment-Key" }
        },
        "schemas": {
            "Flag": {
                "required": [],
                "type": "object",
                "properties": {
                    "feature": {
                        "$ref": "#/components/schemas/Feature"
                    },
                    "feature_state_value": {
                        "$ref": "#/components/schemas/FeatureStateValue"
                    },
                    "enabled": {
                        "title": "Enabled",
                        "type": "boolean"
                    }
                }
            },
            "Identities": {
                "required": [],
                "type": "object",
                "properties": {
                    "feature": {
                        "$ref": "#/components/schemas/Feature"
                    },
                    "feature_state_value": {
                        "$ref": "#/components/schemas/FeatureStateValue"
                    },
                    "feature_trait_value": {
                        "$ref": "#/components/schemas/FeatureTraitValue"
                    },
                    "enabled": {
                        "title": "Enabled",
                        "type": "boolean"
                    }
                }
            },
            "Feature": {
                "title": "Feature",
                "required": ["name"],
                "type": "object",
                "properties": {
                    "id": {
                        "title": "ID",
                        "type": "integer",
                        "readOnly": true
                    },
                    "name": {
                        "title": "DateCreated",
                        "type": "string",
                        "maxLength": 2000,
                        "minLength": 1
                    },
                    "created_date": {
                        "title": "Name",
                        "type": "string",
                        "readOnly": true
                    },
                    "description": {
                        "title": "Description",
                        "type": "string",
                        "x-nullable": true
                    },
                    "initial_value": {
                        "title": "Initial Value",
                        "type": "string",
                        "maxLength": 2000,
                        "x-nullable": true
                    },
                    "default_enable": {
                        "title": "Default Enable",
                        "type": "boolean"
                    },
                    "type": {
                        "title": "Type",
                        "type": "string",
                        "maxLength": 50
                    }
                }
            },
            "FeatureStateValue": {
                "type": "object",
                "description": "Can be any of the following types: string, integer, boolean, float",
                "properties": {
                    "environment": {
                        "title": "Environment",
                        "type": "integer",
                        "x-nullable": true
                    },
                    "identity": {
                        "title": "Identity",
                        "type": "integer",
                        "x-nullable": true
                    },
                    "feature_segment": {
                        "title": "Feature Segment",
                        "type": "integer",
                        "x-nullable": true
                    }
                }
            },
            "FeatureTraitValue": {
                "type": "object",
                "description": "Can be any of the following types: string, integer, boolean, float",
                "required": ["trait_key", "trait_value"],
                "properties": {
                    "trait_key": {
                        "title": "Trait Key",
                        "type": "string",
                        "minLength": 1
                    },
                    "trait_value": {
                        "title": "Trait Value",
                        "type": "string"
                    }
                }
            }
        }
    },
    "security": [{ "EnvironmentKeyAuth": [] }],
    "tags": []
}
